<% if @membership.persisted? %>
  // Reemplaza el bot칩n de uni칩n con el icono de reloj para indicar que est치 pendiente
  $("#_invitation_<%= @membership.user_id %>").replaceWith('<div class="_iconlist"><i class="fal fa-clock"></i></div>');
<% else %>
  // Manejo de errores, por ejemplo, mostrar un mensaje
  alert('No se pudo enviar la invitaci칩n');
<% end %>
