<article class="_cardclub">
	<div class="row m-0">
		<div class="col-auto _img">
			<figure class="_shield">
				<%= image_tag club.avatar.url(:medium), class: "_shield _2" %>
			</figure>
		</div>
		<div class="col _data">
			<div class="_in">
				<h4 class="_title"><%= club.club_name %></h4>
				<small class="_captain"><span>@<%= club.slug %></span></small>
			</div>
		</div>
		<div class="col-auto _action">
			<div class="_in">
				<i class="far fa-arrow-right"></i>
			</div>
		</div>
	</div>
	<%= link_to dashboard_club_path(club), class: '_link_hide' do %><% end %>
</article>