<% content_for :page_name, "Duelo #{@duel.name} - Entornes" %>
<section class="_duel _newduel">
  <%= link_to console_path, class: '_close_newduel _btn button--sacnite _1 _invert' do %>
    <i class="button__icon bi bi-x-lg"></i>
  <% end %>
    <aside class="_step _2">
      <%= render 'duels/shared/forms/schedule', selected_date: @selected_date %>
    </aside>
</section>
<script>
  /*$(document).ready(function() {
    // Inicialmente ocultar todos los pasos, luego mostrar el primero
    $('#step1').show();
    $('#step2').hide();

    // Cuando se hace clic en un botón 'next-step'
    $('.next-step').click(function(e) {
      e.preventDefault();

      // Ocultar 'step1' y mostrar 'step2'
      $('#step1').hide();
      $('#step2').show();

      // Activar el tab correspondiente
      var target = $(this).attr('aria-controls');
      $('.tab-pane').removeClass('show active');
      $('#' + target).addClass('show active');
    });

    // Cuando se hace clic en el botón '_back_step'
    $('._back_step').click(function(e) {
      e.preventDefault();

      // Ocultar 'step2' y mostrar 'step1'
      $('#step2').hide();
      $('#step1').show();

      // Desactivar todos los tabs
      $('.tab-pane').removeClass('show active');
    });
  });*/

	/* ==================== INPUT RADIO =================== */

    document.querySelectorAll('._option input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('click', function() {
            document.querySelectorAll('._option').forEach(function(sport) {
              sport.classList.remove('selected');
            });
            this.closest('._option').classList.add('selected');
        });
    });

    $(document).ready(function() {
        $('form input').keypress(function(e) {
            if (e.which == 13) {
            e.preventDefault();
            return false;
            }
        });
    });

  /* ==================== END INPUT RADIO ===================== */


</script>