    </aside><!-- ASIDE _2 -->
    <% if user_signed_in? && current_user.referee && current_user.referee_confirmation %>
      <aside class="_3">
        <div class="_cont">
            <%= render 'shared/navs/referee' %>
        </div>
      </aside>
    <% end %>
  </main>
</main>