<div class="jumbotron _jumbo">
	<div class="_in text-center">
		<h1 class="_title">Hey <span class="_alt"><%= current_user.firstname %></span></h1>
		<b class="_subtitle lead">Welcome, to start showcasing your talent, head to your first club. You can create one from scratch and lead it to glory, or enlist in the best one:</b>
		<hr>
		<div class="row nom">
			<div class="col-lg-12 _1">
				<%= link_to new_club_path, class: 'button--shikoba _2' do %>
					<span>Start a new club</span>
					<i class="button__icon bi bi-plus-circle"></i>
				<% end %>
				<%= link_to clubs_path, class: 'button--shikoba _1' do %>
					<span>Free player</span>
					<i class="button__icon bi bi-search"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>