<div class="notification">
  <div class="_in">
    <div class="_1">
      <div class="_i">
        <p class="_mutted"><%= notification.category_name %></p>
      </div>
      <div class="_ii">
        <p class="_mutted"><%= time_ago_in_words(notification.created_at) %></p>
      </div>
    </div>
    <div class="_2">
      <h5 class="_content"><%= notification.content %></h5>
    </div>
    <div class="_3">
      <div class="_data">
        <% if notification.action_name == 'Friend' %>
          <figure>
            <i class="fad fa-user-friends"></i>
          </figure>
          <p class="_annun">New friendship</p>
        <% elsif notification.action_name == 'Follower' %>
          <figure>
            <i class="fad fa-user-plus"></i>
          </figure>
          <p class="_annun">You have a new fan.</p>
        <% elsif notification.action_name == 'Calledup' %>
          <figure>
            <i class="fad fa-flag-checkered"></i>
          </figure>
          <p class="_annun">You have been called up.</p>
        <% elsif notification.action_name == 'Accepted' %>
          <figure>
            <i class="fad fa-check-circle"></i>
          </figure>
          <p class="_annun">Approved</p>
        <% elsif notification.action_name == 'Denied' %>
          <figure>
            <i class="fad fa-times-circle"></i>
          </figure>
          <p class="_annun">Denied</p>
        <% elsif notification.action_name == 'Suspendido' %>
          <figure>
            <i class="fad fa-ghost"></i>
          </figure>
          <p class="_annun">New suspension</p>
        <% elsif notification.action_name == 'Solicitude' %>
          <figure>
            <i class="fad fa-hand-peace"></i>
          </figure>
          <p class="_annun">New request</p>
        <% elsif notification.action_name == 'Injury' %>
          <figure>
            <i class="fad fa-user-injured"></i>
          </figure>
          <p class="_annun">Injury alert</p>
        <% elsif notification.action_name == 'Sanction' %>
          <figure>
            <i class="fad fa-engine-warning"></i>
          </figure>
          <p class="_annun">Sanction alert</p>
        <% elsif notification.action_name == 'Blocked' %>
          <figure>
            <i class="fad fa-ban"></i>
          </figure>
          <p class="_annun">Block alert</p>
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
  <% if notification.url %>
    <%= link_to notification.url, class: "_link_hide" do %><% end %>
  <% end %>
</div>