<main class="_fully _1">
  <main class="_layout _1 _club">
    <aside class="_1">
      <div class="_cont">
        <div class="_in">
          <%= render 'clubs/shared/navs/sideone' %>
        </div>
      </div>
    </aside>
    <aside class="_2">
      <%= yield %>
