<% if user_signed_in? %>
  <nav class="_navuser  ">
    <div class="_cont _1">
        <%= link_to user_path(current_user), class: "_usery" do %>
            <%= image_tag current_user.avatar.url(:medium), class: "_avatar _4" %>
        <% end %>
        <%= link_to new_club_path, class: "_item #{'active' if current_page?(new_club_path)}" do %>
          <i class="fad fa-users"></i>
          <span class="_1">Nuevo club</span>
        <% end %>
        <%= link_to battle_path, class: "_item #{'active' if current_page?(battle_path)}" do %>
          <i class="fad fa-futbol"></i>
          <span class="_1">Nuevo partido</span>
        <% end %>
    </div>
  </nav> 
<% end %> 
<script>
  $(document).ready(function() {
    $('._btn_more_create').click(function() {
      $(this).toggleClass('on');
    });
  });

  $(document).ready(function() {
    $('[data-bs-toggle="tooltip"]').tooltip();
  });
</script> 