<% content_for :page_name, "Recuperación - Entornes" %>

<section class="_session">
  <aside class="_login">
    <b>Recupera tu contraseña</b>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    placeholder: 'Correo electrónico',
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-actions">
        <button type="submit" class="_btn _btn_1 _fullwidth">
          <span>Enviame las instrucciones</span>
        </button> 
      </div>
    <% end %>
    <small class="text-muted _line">O</small>
    <div class="_actions">
      <%= render "devise/shared/links" %>
    </div>
  </aside>
</section>
