<main class="_fully _container _1">
  <main class="_layout _1 _user">
    <aside class="_1">
      <div class="_cont">
        <div class="_in">
          <%= render 'shared/navs/side' %>
        </div>
      </div>
    </aside>
    <aside class="_2">
      <%= yield %>
