<%= simple_form_for([@club, @duel, @rival]) do |f| %>
	<div class="input-group mb-3">
		<label class="input-group-text" for="inputGroupSelect01">Equipo</label>
		<% clubs = current_user.clubs.where("clubs.id != '#{@club.id}'") %>
		<%= f.select :rival_id, clubs.map {|key, value| [key.club_name, key.id]}, {}, class: "form-select form-select-lg" %>
		<%= f.submit "Crear", class: "btn btn-outline-secondary" %>
	</div>
	<br>
<% end %>

<% if @club.id == current_user.club_ids %>
<% else %>
<% end %>
