<section class="_newduel _createduel _1">
	<div class="_cont _1">
		<aside class="_in _1">
	    	<h1>Create a new rival</h1>
	    	<p>Gather your team and face off against another team in a sports duel.</p>
		</aside>
		<aside class="_in _2">
			<div class="row">
				<div class="col-md-6">
					<%= render 'rivals/form' %>
				</div>
			</div>
		</aside>
	</div>
</section>
