<section class="_newduel _createduel _1">
	<div class="_cont _1">
		<aside class="_in _1">
	    	<h1>Crea un nuevo rival</h1>
	    	<p>Reune a tu combo y enfreta a otro equipo en un duelo deportivo.</p>
		</aside>
		<aside class="_in _2">
			<div class="row">
				<div class="col-md-6">
					<%= render 'rivals/form' %>
				</div>
			</div>
		</aside>
	</div>
</section>
