<div class="jumbotron _jumbo">
	<div class="_in text-center">
		<h1 class="_title">Demuestra lo que tienes:</h1>
		<br>
		<div class="row nom">
			<div class="col-lg-12 _1">
				<%= link_to new_club_duel_path(club), class: 'button--shikoba _2' do %>
					<span>Nuevo duelo</span>
					<i class="button__icon bi bi-plus-circle"></i>
				<% end %>
				<%= link_to radar_path, class: 'button--shikoba _1' do %>
					<span>Ver Desafios</span>
					<i class="button__icon bi bi-search"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>