<div class="jumbotron _jumbo">
	<div class="_in text-center">
		<h1 class="_title">Show what you've got:</h1>
		<p>Face new challenges and showcase your skills in every duel. Are you ready to be the best?</p>
		<br>
		<div class="row nom">
			<div class="col-lg-6 _1">
				<%= link_to radar_path, class: 'button--shikoba _1' do %>
					<span>View Challenges</span>
					<i class="button__icon bi bi-search"></i>
				<% end %>
			</div>
			<div class="col-lg-6 _2">
				<%= link_to new_club_duel_path(club), class: 'button--shikoba _2' do %>
					<span>New duel</span>
					<i class="button__icon bi bi-plus-circle"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>