<% content_for :page_name, "Entornes" %>
<%= render 'shared/layout/one' %>
  <header class="_head d-sm-none">
  </header>
  <aside class="_notifications">
	<section class="_search">
		<div class="row">
			<div class="col-xl-5 _1">
			</div>
			<div class="col-xl-7 _2"></div>
		</div>
	</section>
  </aside> 
<%= render 'shared/layout/two' %>
