<div id="calendar"></div>

<script type="text/javascript">
	window.duels = <%= raw @events.to_json %>
	console.log(duels)

	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: '',
			right: 'prev,next'
		},
		defaultDate: $('#start-date').val()
	});
</script>