<header class="_header_console _1">
	<div class="_in">
		<div class="_info">
			<div>
				<div class="_infoclub">
					<% breadcrumbs.each do |breadcrumb| %>
						<h3 class="_title"> 
							<span><%= breadcrumb.name %></span>
						</h3>
			    <% end %>
				</div>
			</div>
		</div>
		<div class="d-none d-lg-block">
			<%= render 'clubs/shared/navs/nav' %>
		</div>
		<div class="_action">
			<% if current_page?(members_club_path(@club)) || current_page?(requests_club_path(@club)) || current_page?(scouting_club_path(@club)) %>
				<button class="button--shikoba _2" type="submit" data-bs-toggle="modal" data-bs-target="#modalInvitation">
					<span>Invite</span>
					<i class="button__icon fad fa-paper-plane"></i>
				</button>
			<% elsif current_page?(edit_club_path(@club)) %>
				<button class="button--shikoba _2" type="submit">
					<span>Ready</span>
					<i class="button__icon fal fa-check-circle"></i>
				</button>
			<% else %>
				<%= link_to battle_path, class: "button--shikoba _2 " do %>
					<span>New duel</span>
					<i class="button__icon bi bi-plus-circle"></i>
				<% end %>
			<% end %>
			<div class="d-lg-none">
				<%= render 'clubs/shared/navs/nav' %>
			</div>
		</div>
	</div>
</header>
