
	<fieldset class="_formation _<%= formation[0] %>">
		<h4 class="_text"><%= formation[0] %></h4>
		<div class="_cancha">
			<div>
				<span class="_player _1"></span>
				<span class="_player _2"></span>
				<span class="_player _3"></span>
				<span class="_player _4"></span>
				<span class="_player _5"></span>
				<span class="_player _6"></span>
				<span class="_player _7"></span>
				<span class="_player _8"></span>
				<span class="_player _9"></span>
				<span class="_player _10"></span>
				<span class="_player _11"></span>
			</div>
		</div>
	</fieldset>