// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* SESSION */
	section._session {
		height: 100vh;
		min-height: 600px;
		position: relative;
		width: 100vw;
  	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	section._session > aside {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
	}
	section._session ._session {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
	}
	section._session ._session>span:first-of-type {
    position: absolute;
    left: 15px;
	}
	section._session > aside._login small.text-muted._line {
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
	}
	section._session > aside._login small.text-muted._line:before{
		content:'';
		position: absolute;
		left:0;
		width:45%;
		height:1px;
  	background: #315564;
  	opacity:0.5;
	}
	section._session > aside._login small.text-muted._line:after{
		content:'';
		position: absolute;
		right:0;
		width:45%;
		height:1px;
  	background: #315564;
  	opacity:0.5;
	}
  section._session .form-inputs > .form-group input,
  section._session .form-inputs > .form-group label{
    font-family: 'Causten', 'Sofia', sans-serif;
  }
  section._session .form-inputs > .form-group label{
  	font-size:14px;
  }
  section._session .form-inputs > .form-group input:focus{
  	box-shadow: 0 0 0 0 !important;
  	border-color:#315564 !important;
  }
  section._session .form-inputs > .form-group {
    margin-bottom: 15px;
  }
	section._session .form-inputs > .form-group input:not(.form-check-input){
    padding: 0.6em 1em;
    border-radius: 9px;
	}
	section._session .form-inputs > .form-group small {
	  display: block;
	  text-align: center;
	  text-transform: uppercase;
	  font-size: 11px !important;
	  font-family: 'Rubik', sans-serif;
	  font-weight: 500;
	  letter-spacing: 1px;
	}
	section._session ._actions a{
    color:#2b2b2b;
    text-decoration: none;
    opacity: 0.7;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
    display: block;
    transition:all .3s ease-in-out;
	}
	section._session ._actions a:hover{
		opacity: 1;	
	}
	section._session ._actions {
	  text-align: center;
	}
	section._session ._brand {
	  width: 45px;
	  margin: 0 auto 20px;
	  display: block;
	  max-width: 90%;
	}
  section._session > aside > b {
	  text-align: center;
	  display: block;
	  margin-bottom: 15px;
	}

  section._session > aside > *{
    font-family: 'Causten', 'Sofia', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
  }

	.modal ._in._noitems ._inter {
	  width: 400px;
	  max-width: 100%;
	  margin: 0 auto;
    text-align: center;
	}
	.modal ._in._noitems ._inter lottie-player {
    margin: 0 auto;
	  max-width: 100%;
	}
	.btn._title_edit_link_cancel {
    display: flex;
    align-items: center;
	}
/* END SESSION */
	body._light main._layout._1 > aside > section._console._1._dashboard ._body_console {
	  background: #FFF;
	  border-radius: 12px;
	}
	main._layout._1 > aside > section._console._1._dashboard aside {
	  width: 100%;
	}
  body._light main._layout._1 > aside > section._console._1:not(._dashboard) {
    background: #FFF;
    border-radius: 12px;
  }
  body._light main._layout._1 > aside > section._console._1._panel_duel{
    background: transparent;
  }
/* CONSOLE */
  section._console._1 > aside._1 {
    width: 100%;
  }
  ._cardy > div ._in._1 ._data ._image ._avatar {
    border-radius: 999px;
	}
  section._console._1 > aside._1 > div > div {
    padding: 0;
    position: relative;
	}
	section._console._1 > aside._1 ._header_console._1 {
    padding:15px;
    display: flex;
    width: 100%;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in{
    display: flex;
    width: 100%;
    min-height: 52px;
    grid-gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in ._submenu {
    width: 100%;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in > ._info ._title {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in > ._info ._title,
	section._console._1 > aside._1 ._header_console._1 > ._in > ._info ._date {
    margin: 0;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in > ._info ._date{
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
	}
	section._console._1 > aside._1 ._header_console._1 > ._in > ._info ._text {
    margin-top: 3px;
    margin-bottom: 0;
    opacity: 0.6;
	}


	._club._1 ._fila._1 {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
    position: relative;
    z-index: 3;
	}
	._club._1 ._fila._1 ._avatary {
		margin-right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 999px;
	}
	._club._1 ._fila._1 ._avataries {
    display: flex;
    align-items: center;
	}
	._avatary_number {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 999px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    font-family: 'Outfit';
    font-weight: 600;
	}
	body._light ._avatary_number {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 999px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    font-family: 'Outfit';
    font-weight: 600;
	}
	button.dropdown-toggle._options {
	  background: transparent;
	  border: 0;
	  width: max-content;
	  padding: 0;
	  display: block;
	}
	button.dropdown-toggle._options:after {
    opacity: 0;
    display: none;
	}

	.link_dropdown {
	  color: #10151a;
	  padding: 0;
	  line-height: 1;
	  cursor: pointer;
	  text-decoration: none;
	}
	ul.dropdown-menu .dropdown-item:hover {
    background: #f3f7fb;
	}
	._header_console._1 .dropstart ul.dropdown-menu {
    border-color: #d7d8d9;
    border-radius:0;
	}
	._header_console._1 .dropstart ul.dropdown-menu .dropdown-item {
	  font-weight: 500 !important;
	  font-size: 12px !important;
	}
	._header_console._1 .dropstart ul.dropdown-menu .dropdown-item:hover{
    color: #212529;
	}
	._header_console._1 .dropstart ul.dropdown-menu > li:not(:last-of-type) {
    border-bottom: 1px solid #e1e2e3;
	}
/* END CONSOLE */

 /* CARD club */
	body._light article._cardclub{
    background: #f9f9f9;
    border: 1px solid #060909;
    box-shadow: 0px 3px 10px -3px #877e4a5e;
	}
	body._light article._cardclub:hover{
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 26px 30px -15px #877e4a5e;
    border-color: #060909;
	}
	body._light article._cardclub > .row > ._action i{
	  color: #071015;
	}
	article._cardclub {
	  position: relative;
    margin-bottom: 1em;
    border-radius: 0;
    max-width: 100%;
    padding:10px;
    box-shadow: 0 0 30px -50px #8d95934a;
	  transition: transform 0.3s cubic-bezier(0,1.26,.78,1.21);
	}
	article._cardclub ._img {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
	}
	article._cardclub > .row {
    grid-gap: 10px;
	}

	article._cardclub ._title {
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
	}
	article._cardclub ._captain {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    line-height: 1.3 ;
    display: block;
	}
	article._cardclub > .row > ._action {
    width: 10%;
    justify-content: center;	
	}
	article._cardclub > .row > ._action i{
	  font-size: 16px;
	  line-height: 1;
	  display: block;
	  transform: translateX(-15px);
	  transition: all 0.5s cubic-bezier(0,1.26,.78,1.21);
	  opacity:0;
	}
	article._cardclub:hover > .row > ._action i {
	  transform: translateX(0);
	  opacity:1;
	}
	article._cardclub > .row > div {
    display: flex;
    align-items: center;
	}


	@media(min-width:992px){
	}
	@media(max-width:991px){

	}

	main._layout._1 > aside > section._myduels > aside {
	  width: 100%;
	}
	main._layout._1 > ._2 ._create_action a#_btn_more_create {
	  position: fixed;
	  z-index: 9;
	  bottom: 15px;
	  right: 15px;
	}
	section._console._1 > aside._1 ._body_console._1 ._clubs {
    display: flex;
    flex-wrap: wrap;
	}
	section._console._1 > aside._1 ._body_console._1 ._clubs > article{
    width: 100%;
	}
	section._console._1 > aside._1 ._body_console._1 ._shields {
    display: flex;
    grid-gap: 15px;
    flex-wrap: wrap;
	}
	section._console._1 > aside._1 ._body_console._1 ._shields > ._shield {
    padding: 10px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(.01,.32,.29,1.2);
	}
	section._console._1 > aside._1 ._body_console._1 ._shields > ._shield:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px #6c7e7ea1;
	}
	body._light section._console._1 > aside._1 ._body_console._1 ._shields > ._shield{
    background: #f3f7fb;
	}
	section._console._1 > aside._1 .row:not(.nom){
		margin: 0 !important;
	}
	section._console._1 > aside._1 .row:not(.nom) > div{
		padding: 0 !important;
	}
	._jumbo._newmembership ._link_btn {
	  text-align: center;
	  display: block;
	  text-decoration: none;
	  font-family: 'Abel', sans-serif;
	  text-transform: uppercase;
    padding: 20px;
    width: max-content;
    margin: 0 auto 10px;
	}
	body._light ._jumbo._newmembership ._link_btn{
    color: #dc3545;
	}
	body._light ._jumbo._newmembership ._link_btn:hover{
    font-weight:700;
	}
	._body_console ._jumbo {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
	}
	._body_console ._jumbo ._in {
    width: 720px;
    max-width: 100%;
	}
	.jumbotron._jumbo ._title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0;
    line-height: 1;
	}
	.jumbotron._jumbo ._subtitle {
    font-family: 'Outfit', sans-serif;
    opacity: 0.6;
    margin-bottom: 30px;
    display: block;
    line-height: 1.2;
    margin-top: 10px;
	}
	
	._body_console._1._notifications {
	  min-height: calc(100vh - 140px);
	}
	.new_duel aside._content ._head h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
	}
	.new_duel aside._content ._head p {
    font-weight: 200;
	}
	@media(max-width:575px){
		section._user._1 > ._info > .row._1 > ._2 {
	    padding: 20px;
		}
	}



	/* CALENDAR */
	.calendar_simple .fc-ltr .fc-basic-view .fc-day-top {
    position: relative;
	}

	.fc-content-skeleton tbody {
    transform: translateY(-17px);
    position: relative;
    z-index: 3;
	}
	.calendar_simple ._point ._i {
		width: 5px;
		height: 5px;
		border-radius: 100px;
		background: #000;
		text-align: center;
	}
	.calendar_simple td.fc-day-top.fc-fri.fc-today.fc-state-highlight ._point ._i{
		background: #fff;
	}
	.calendar_simple .fc-unthemed th, 
	.calendar_simple .fc-unthemed td, 
	.calendar_simple .fc-unthemed thead, 
	.calendar_simple .fc-unthemed tbody, 
	.calendar_simple .fc-unthemed .fc-divider,
	.calendar_simple .fc-unthemed .fc-row, 
	.calendar_simple .fc-unthemed .fc-content, 
	.calendar_simple .fc-unthemed .fc-popover, 
	.calendar_simple .fc-unthemed .fc-list-view, 
	.calendar_simple .fc-unthemed .fc-list-heading td {
    border-color: transparent;
    border: 0 !important;
	}
	.calendar_simple .fc-row .fc-content-skeleton, 
	.calendar_simple .fc-row .fc-content-skeleton table, 
	.calendar_simple .fc-row .fc-content-skeleton table thead, 
	.calendar_simple .fc-row .fc-content-skeleton table thead tr, 
	.calendar_simple .fc-row .fc-content-skeleton table thead tr td {
    height: 100%;
	}
	.calendar_simple .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    float: inherit;
		padding: 0;
	}
	.calendar_simple .fc-scroller.fc-day-grid-container {
    height: 100% !important;
		overflow: hidden !important;
	}
	.calendar_simple .fc-toolbar.fc-header-toolbar h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
	}
	.calendar_simple .fc-toolbar.fc-header-toolbar {
		padding: 20px;
	}
	.calendar_simple .fc-unthemed td.fc-past{
		opacity:0.3;
	}
	.calendar_simple .fc-day-top.fc-other-month{
		opacity: 0.8;
	}
	body._light .calendar_simple td.fc-today > span{
    color: #fff;
    position: relative;
		z-index: 2;
	}
	body._light .calendar_simple td.fc-today > ._points{
    position: relative;
		z-index: 2;
    color: #fff;
	}
	.calendar_simple tr:first-child > td > .fc-day-grid-event {
		margin-top: 0;
	}
	.calendar_simple td.fc-today:before {
    content: '';
    position: absolute;
    width: 100%;
    height:70px;
    z-index: 1;
    left: 0;
    right: 0;
    border-radius: 6px;
    top: 0;
	}
	.calendar_simple .fc-day-top {
		transition: all .18s ease;
		border-radius: 4px;
		cursor: pointer;
	}
	.calendar_simple .fc-day-top:hover{
		z-index: 3;
		transform: scale(0.8);
	}
	body._light .calendar_simple .fc-day-top:hover{
		background:#80808030;
	}
	body._light .calendar_simple .fc-content-skeleton td.fc-state-highlight:before {
		background: #000000;
	}
	.calendar_simple .fc-content-skeleton td.fc-state-highlight:hover:before{
		transform: scale(0.9);
	}
	.calendar_simple td.fc-state-highlight {
		position: relative;
	}
	.calendar_simple td.fc-state-highlight span.fc-day-number {
    position: relative;
    z-index: 2;
		padding: 0;
	}
	.calendar_simple .fc-unthemed td.fc-today{
		background:transparent;
	}
	.calendar_simple .fc-day-top .fc-day-number{
    position: relative;
    z-index: 2;
	}
	body._light .calendar_simple td.fc-state-highlight ._point ._i {
    background: #fff;
	}
	section._console._1._dashboard > aside._1 > .row > ._2 ._header_console._1, 
	section._console._1._dashboard > aside._1 > .row > ._2 ._body_console._1 {
    background: transparent !important;
    padding: 20px 40px;
	}
	.calendar_simple .fc-toolbar.fc-header-toolbar h2 {
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
	}
	.calendar_simple th.fc-day-header {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
	}
	.calendar_simple .fc-day-grid-event {
    background: transparent;
    border: 0;
	
	}
	.calendar_simple .fc-content span.fc-time, .calendar_simple .fc-content span.fc-title {
    display: none;
	}
	.calendar_simple td.fc-today > ._point {
		position: relative;
		z-index: 2;
		top: -22px;
	}

	.calendar_simple td.fc-today > span.fc-day-number {
		position: relative;
		z-index: 0;
		bottom: 0;
	}
	.calendar_simple ._points {
    display: flex;
    grid-gap: 2px;
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    flex-wrap: wrap;
    justify-content: center;
	}
	.calendar_simple td.fc-today > ._point {
    position: relative;
    z-index: 2;
    top: -22px;
    left: 0;
    right: 0;
    margin: 0 auto;
	}
	body._light .calendar_simple td.fc-state-highlight > ._point ._i{
		background:#fff;
	}
	.newEventModal input._time {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: center;
    font-size: 30px;
		cursor: pointer;
	}
	body._light .newEventModal input._time {
    border: 1px solid black;
    background: #deede861;
	}

	li.ui-timepicker-am.ui-timepicker-disabled.ui-timepicker-selected {
		opacity: 0.2 !important;
	}	
	.calendar_simple ._points ._more {
    background: black;
    border-radius: 9999px;
    color: #fff;
    padding: 5px;
    font-size: 9px;
    width: 11px;
    height: 11px;
    line-height: 1.3;
    text-align: center;
    display: flex;
    align-items: center;
	}


	.newEventModal h1.modal-title {
    font-size: 30px !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0px;
    font-weight: 900;
    padding-top: 80px;
    padding-bottom: 20px;
	}
	.newEventModal .modal-header{
    justify-content: center;
	}
	.newEventModal ._list>ul {
    padding: 0;
    list-style: none;
	}
	body .ui-timepicker-wrapper {
    width: 400px;
    margin: 0 auto;
    right: 0;
    left: 0 !important;
    max-width: 50vw !important;
	}
	body .ui-timepicker-wrapper li {
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
	}

	._layout._1._club ._console ._card > ._in._1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	._layout._1._club ._console ._card > ._in{
    padding: 0 10px;
	}
	._layout._1._club ._console ._card > ._in:first-of-type {
    padding: 10px 10px 0 10px;
	}
	._layout._1._club ._console ._card > ._in:last-of-type {
    padding: 0 10px 10px 10px;
	}

	._navside ._duely a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 10px;
		transition: all .1s ease-in-out;
	}
	._navside ._duely a:hover{
		transform: scale(1.1);
	}
	body._light ._navside ._duely a {
    color: #12191f;
    background: #e7effb;
	}
	._navside ._duely {
    text-align: center;
    padding: 30px 15px;
		display: flex;
		grid-gap: 10px;
		align-items: center;
		justify-content: space-between;
	}
	._navside ._duely h5 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
	}

	._layout._club ._console._1 aside._1 > .row > .col-lg-3 {
    padding: 15px !important;
	}

	._layout._club ._console._1 ._card {
		border: 1px solid #46514ea3;
    border-radius: 9px;
		transition: all	.1s ease-in-out;
		box-shadow: 0 0 30px -50px #46514ea3;
	}
	._layout._club ._console._1 ._card:hover{
		transform: translateY(-2px) scale(1.008);
		box-shadow: 0 5px 30px -20px #46514ea3;
	}
	._layout._1._club ._console ._card > ._in p {
    margin-bottom: 0;
	}
	._layout._1._club ._console ._card > ._in h1 {
    margin-bottom: 0;
    line-height: 1;
    padding: 10px 0;
	}




	._progress{
		position: relative;
	}
	._progress ._step{
		position: absolute;
		z-index:2;
		width:50px;
		height:50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 999px;
		font-size: 20px;
		top:-100%;
	}
	._progress ._step._1 {
    left: -25px;
	}
	._progress ._step._2 {
    left: calc(25% - 25px);
	}
	._progress ._step._3 {
    left: calc(50% - 25px);
	}
	._progress ._step._4 {
    left: calc(75% - 25px);
	}
	._progress ._step._5 {
    left: calc(100% - 25px);
	}
	
  ._progress {
    height: 15px;
    background-color: transparent;
    border-radius: 0;
    width:100%;
    max-width:100%;
  }
  ._progress-bar {
    height: 100%;
    background: transparent;
    position: relative;
  }
  ._progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #060908 0%, #507765 35%, #b9d0c6 100%) !important;
    animation: progress 1s ease-out forwards;
  }


	._jump section._bannermain{
    border-radius: 9px;
    padding: 15px;
    display: block;
	}
	body._light ._jump section._bannermain{
    background: #FFF;
	}
	body._light ._step {
		box-shadow: 0 3px 20px -16px #000000e3;
    background: #fff;
	}

	._jump .contentend button {
    margin-left: auto;
	}

	._bannermain figure._media{
    width: 90px;
	}
	section._bannermain ._inside {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
	}
	
	section._bannermain ._inside ._inner {
    display: flex;
    align-items: center;
    grid-gap: 10px;
	}
	section._bannermain ._inside ._inner p {
    margin-bottom: 0;
	}

	section._bannermain ._inside ._inner a {
		text-decoration: none;
	}
	section._bannermain ._inside ._inner ._iconadd {
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 999px;
		transition: all .25s ease-in-out;
	}
	body._light section._bannermain ._inside ._inner ._iconadd{
    background: #f2f5fa;
		color: #b7c8d9;
    box-shadow: 0 10px 30px -20px #2b313be0;
	}
	section._bannermain ._inside ._inner ._iconadd:hover{
		transform: translateY(-5px) scale(1.06);
	}

	._jump ._progress {
    margin: 30px auto 50px;
    max-width: 90%;
		width:600px;
	}

	body._light ._jump section._banner {
    background: #fff;
	}
	._jump section._banner {
    padding: 15px;
    border-radius: 12px;
	}
	._table_members ._move ._action button {
    border: 0;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background: #f2f5fa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	}
	._progress ._step:disabled{
    background-color: #fff !important;
	}
	
	section._console._1 > aside._1 ._header_console._1 > ._in > ._action {
    display: flex;
    grid-gap: 10px;
    align-items: center;
	}