<%= simple_form_for([@club, @duel, @reservation], class: "_steps "  )  do |f| %>
  <div class="field">
    <%= f.hidden_field :approved, value: true %>
  </div>
  <button type="submit" class="button--naira _1 _btn _fullwidth">
    <span>Accept!</span>
    <i class="fad fa-check-circle button__icon text-center"></i>
  </button>
<% end %>