<%= simple_form_for([@club, @duel], class: "_steps "	)  do |f| %>
<br>
	<div class="input-group mb-3">
		<label class="input-group-text" for="inputGroupSelect01">Equipo</label>
		<% clubs = current_user.clubs.where("clubs.id != '#{@club.id}'") %>
		<%= f.select :rival_id, clubs.map {|key, value| [key.club_name, key.id]}, {}, class: "form-select form-select-lg" %>
		<%= f.submit "Crear", class: "btn btn-outline-secondary" %>
	</div>
<% end %>